name: Deploy a blueprint

on:
  push:
    paths:
      - 'blueprint/**' 

jobs:
  deploy-blueprint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Find new or modified template files
        id: find_templates
        run: |
          # Get list of new or modified files in blueprint/
          files=$(ls blueprint)
          echo "files=$files" >> $GITHUB_OUTPUT

      - name: Deploy each  blueprint template
        if: steps.find_templates.outputs.files != ''
        run: |
          for file in ${{ steps.find_templates.outputs.files }}; do
            echo "Processing $file"
            # Example: Read the template and deploy (replace with your deployment logic)
            cat "blueprint/$file"
            # Here you can add your SageMaker deployment command, e.g.:
            # aws sagemaker create-model --cli-input-json file://$file
          done

      - name: Get value from JSON
        id: get_json_value
        run: |
          value=$(jq -r '.test' blueprint/test.json)
          echo "value=$value" >> $GITHUB_OUTPUT

      - name: Use the value
        run: echo "${{ steps.get_json_value.outputs.value }}"
